<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
		<title>Edit user data</title>
		<style>
			.error {
				color: red;
			}
		</style>
	</head>
	<body ng-app="taskOne" ng-cloak>
		<div ng-controller="appController" class="container">
			<form name="userForm" class="form-group" novalidate>
				Name: <input user-name name="name" class="form-control" type="text" ng-model="user.name" ng-model-options="{ updateOn: 'blur' }" required /><br />
				<span class="error" ng-show="userForm.name.$dirty && userForm.name.$invalid">
					<span> User name must be more than 3 symbols,<br />only first letter in uppercase of the word,<br />only letters.</span>
				</span><br />
				E-mail: <input email-validation name="email" class="form-control" type="text" ng-model="user.email" /><br />
				<span class="error" ng-show="userForm.email.$dirty && userForm.email.$invalid">
					<span>Email must be in epam.com domain</span>
				</span><br />
				Birthday: <input date-validation name="birthday" class="form-control" type="text" ng-model="user.birthday" /><br />
				<span class="error" ng-show="userForm.birthday.$dirty && userForm.birthday.$invalid">
					<span>Date format is YY-MM-DD or YYYY-MM-DD</span>
				</span><br />
				Age: <input age-validation name="age" class="form-control" type="number" ng-model="user.age" value="" required /><br />	
				<span class="error" ng-show="userForm.age.$dirty && userForm.age.$invalid">
					<span> Age must be between 18 and 65.</span>
				</span><br />
				<input class="btn btn-default" type="button" ng-click="reset()" value="Reset" />
				<input ng-disabled="userForm.$invalid" class="btn btn-default" type="submit" ng-click="update(user)" value="Save" />
			</form>
			
			<div> "Master" and "user" models in Json</div> 
			
			<pre>user = {{user | json}}</pre>
			<pre>master = {{master | json}}</pre>
			
			<div> Fields of "master" model in array, formated like list</div> 
			
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="field in masterFields">{{field}}</li>
			</ul>
			
			<pre>{{user.name}}</pre>
		</div>

	
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="app.js"></script>
	</body>
</html>